

.logo{
      width:36%;
      
}
.buttonN{
      border:none;
      background-color: rgb(86, 76, 179);
      color: aliceblue;
      width: 50px;
      height: 50px;
      margin: 10px 10px;
      /* margin:2% 3%; */
      border-radius: 50%;
      outline: none;
      font-size: 1.5rem;

      
}
.oper{
      width: 50px;
      height: 50px;
      /* margin: 2% ; */
      border-radius: 50%;
      outline: none;
      display:flex;
      flex-direction: column;
      margin-right: 20px;
      text-align: center;
      background-color: rgb(95, 139, 235);
      padding-left:20px;
      padding-top:8px;
      font-size:1.6rem;
      color:aliceblue;
      margin: 12% 0;
      
      
}

.oper:nth-child(4){
      padding-left:15px;
}
.oper:nth-child(5){
      padding-left:15px;
}
.special{
      width: 50px;
      height: 50px;
      margin: 2% 3% ;
      font-size:1.4rem;
      border-radius: 50%;
      background-color: rgb(158, 14, 224);
      color:aliceblue;
      
      

}

.ricky{
      padding-right:6%;
      padding-top:3%;
      color:white;
      background-color: rgb(104, 79, 79);
      width: 92%;
      height:50px;
      margin: 0 auto;
      text-align: right;
      border-radius: 90px ;
      font-size:2.2rem;
      margin-top:2%;
      margin-bottom:6%;
}

.containerB{
      width:81%;
      margin-right:0;
      padding-right:0;
}

.buttonsAll{
      display:flex;
}

 .mainButtons{
      /* border: solid 1px black;
      width: 81%;
      /* width: 60%; */
      /* margin-right:0;
      padding-right:0;
      width:90%; */ 
} 
.specialContainer{
      display:flex;
      justify-content: space-between;
}
.numberContainer{
      display:flex;
      justify-content: space-between;
      flex-wrap:wrap;
}

.sideButtons{
      margin-left:20px;

}

